#container {
  text-align: start;

  position: absolute;
  left: 0;
  right: 0;
  top: 9%; 
}
.example-full-width{
  width: 100%;
}
#container .example-card{
margin: 5px;
color: white;
background: #5c5c9b;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container mat-card-subtitle {
  font-size: 16px;
  line-height: 22px;

  color: white;

  margin: 0;
}

#container a {
  text-decoration: none;
}